.mode-selector {
  margin-bottom: 20px;
}

.mode-selector button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.6);  /* Dark transparent background */
  color: rgba(10, 0, 0, 0);                          /* White text */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mode-selector button:hover {
  background-color: rgba(0, 0, 0, 0.8);  /* Slightly darker on hover */
}

